<!-- 底部 -->
<footer class="bg-color-01">
  <div class="container">
    <div class="clearfix">
      <ul class="pull-left">
        <li><a href="javascript:;">GitHub库</a></li>
        <li><a href="javascript:;">实例</a></li>
      </ul>
      <div class="wechat-ico pull-right">
        <div class="wechat"></div>
      </div>
    </div>
    <p>This site runs on GitHub and is hosted on GitHubPage.</p>
    <p>本网站运行在GitHub上并使用GitHubPage托管。</p>
  </div>
  <!-- 回到顶部 -->
  <a href="javascript:;" id="back_top" class="back-top none"></a>
</footer>
