<div class="footer-img container-fluid">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <a href="javascript:;" class="thumbnail">
        <img src="/assets/img/portfolio/1.jpg" alt="图片1">
        <!-- 鼠标移入效果 -->
        <div class="portfolio">
            <div class="portfolio-content none">
                <div class="project-category text-faded">
                    运动
                </div>
                <div class="project-name">
                    拳击
                </div>
            </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-sm-6">
      <a href="javascript:;" class="thumbnail">
        <img src="/assets/img/portfolio/2.jpg" alt="图片2">
        <div class="portfolio">
            <div class="portfolio-content none">
                <div class="project-category text-faded">
                    读书
                </div>
                <div class="project-name">
                    《穷爸爸，富爸爸》 
                </div>
            </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a href="javascript:;" class="thumbnail">
        <img src="/assets/img/portfolio/3.jpg" alt="图片3">
        <div class="portfolio">
            <div class="portfolio-content none">
                <div class="project-category text-faded">
                    设计
                </div>
                <div class="project-name">
                    摄影
                </div>
            </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a href="javascript:;" class="thumbnail">
        <img src="/assets/img/portfolio/4.jpg" alt="图片4">
        <div class="portfolio">
            <div class="portfolio-content none">
                <div class="project-category text-faded">
                    美食
                </div>
                <div class="project-name">
                    生活
                </div>
            </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a href="javascript:;" class="thumbnail">
        <img src="/assets/img/portfolio/5.jpg" alt="图片5">
        <div class="portfolio">
            <div class="portfolio-content none">
                <div class="project-category text-faded">
                    撸代码
                </div>
                <div class="project-name">
                    前端开发
                </div>
            </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a href="javascript:;" class="thumbnail">
        <img src="/assets/img/portfolio/6.jpg" alt="图片6">
        <div class="portfolio">
            <div class="portfolio-content none">
                <div class="project-category text-faded">
                    运动
                </div>
                <div class="project-name">
                    爬山
                </div>
            </div>
        </div>
      </a>
    </div>

  </div>
</div>