<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script>
	// 切换分类
	var show_post = function(anchor){
		if(anchor){
	        var cls = anchor.substr(1); // 获取 #号后面
	        $(".archives li").hide(); // 先隐藏所有列表
	        $(".article-list-" + cls).show(); // 分类名和hash一样显示
	        $(".categ_text").text(cls); // 填充分类名
	        $('.home-con-nav a').removeClass('active');
	        $(".home-con-nav ." + cls).addClass('active');
	    }
	}
	// 页面加载触发
    if(document.location.hash) { 
        show_post(document.location.hash);
    }
    // hash(#号后)改变时触发
    window.onhashchange = function(){ 
        show_post(document.location.hash);
    }

 	// 页面滚动
	$(window).scroll(function () {
		if ($(this).scrollTop() > 260) {
			$('#back_top').fadeIn();
		} else {
			$('#back_top').fadeOut();
		}
	});

	// 点击回到最顶部
	$('#back_top').on('click', function() { 
		$('body, html').animate({'scrollTop': 0}, 500);
		return false;
	});

	// 底部微信
    $('.wechat-ico').on('mouseenter', function() {
      $('.wechat')[0].className = 'wechat wechat-enter';
    });
    $('.wechat-ico').on('mouseleave', function() {
      $('.wechat')[0].className = 'wechat wechat-leave';
    });

</script>