*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
body{
	color: #333;
}
a{
	text-decoration: none;
}
a:hover {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none !important;
    color: #e34c26 !important;
}
a:focus{
	text-decoration: none !important;
}
.none{
  display: none;
}
/* 配色 */
.color-01{ color: #24292e; } /*深色背景*/
.color-02{ color: #333; } /*大标题*/
.color-03{ color: #666666; } /*侧边*/
.color-04{ color: #e34c26 ; } /*红色*/

.text-red{ color: #e34c26 ; } /*红色*/

.highlight {
    background: #2d2d2d;
    border-radius: 4px;
    border: none;
}
.highlight .err {
    color: #fff;
    background: none;
}
img{
	border-radius: 5px;
}
.page-content img {
	max-width: 100%;
    border: 1px solid #e9e9e9;
    margin: 5px auto;
    border-radius: 5px;
    vertical-align: middle;
    display: block;
}
@media (max-width: 767px) {
	.page-content img{
		width: 100%;
	}
}

/* 自定义字体 */
@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/webfont_rqc3p9m94fh.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_rqc3p9m94fh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_rqc3p9m94fh.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_rqc3p9m94fh.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_rqc3p9m94fh.svg#思源黑体-细') format('svg'); /* iOS 4.1- */
}

.top-shadow{
	box-shadow: 0 1px 1px #f1f1f1;
	background: #fff;
}
.bottom-shadow{ 
    box-shadow: 0 -1px 1px #f1f1f1;
    background: #fff;
}
.all-article a{
	color: #333;
}
.logo-name{
    line-height: 32px;
    padding-left: 6px;
    font-family: 'webfont';
    font-size: 20px;
}
.octicon{
    display: inline-block;
    fill: currentColor;
	color: #fff;
}
.navbar{
    padding: 3px 0;
    border: none;
    border-radius: 0;
    margin-bottom: 1px;
}
.navbar-default .navbar-nav>li>a,footer a{
    color: #333;
}
.navbar-brand{
	padding: 9px 0 0 15px;
}
.navbar-brand .logo{
	margin: 0;
}
.row{
	margin: 0;
}
.navbar-brand h1{
	width: 32px;
	height: 32px;
	text-indent: -99999px;
	background: url(../img/fluidicon.png) no-repeat;
	background-size: 100%;
	margin: 0;
}
/* header-banner start*/
.header-banner {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url("../img/banner_03.jpg");
    text-align: center;
    color: white
}

.header-banner .header-content {
    position: relative;
    text-align: center;
    padding: 70px 15px 30px;
    width: 100%
}

.header-banner .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0
}

.header-banner .header-content .header-content-inner hr {
    margin: 30px auto;
    width: 230px;
}

.header-banner .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    margin-bottom: 50px
}

@media (min-width: 768px) {
    .header-banner {
        min-height:350px
    }

    .header-banner .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px
    }

    .header-banner .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto
    }

    .header-banner .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}
/* header-banner end*/
.container{
	padding: 0;
}
@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}
/* 首页主体 */
.page-con{
    min-height: 600px;
    padding-top: 12px;
}
.page-con-list{
    background-color: #fff;
}
.categ_name{
	margin: 0 8px;
}
.pside h3{
    border-left: 3px solid #e36209;
    padding-left: 10px;
    font-weight: 700;
    color: #666;
    font-size: 14px;
}
.pside .list{
    padding-left: 15px;
    margin-bottom: 20px;
}
.pside .list li{
    padding-top: 8px;
}
.pside .list a{
    color: #777;
    font-family: \5fae\8f6f\96c5\9ed1;
}
.pside .list .active{
	color: #e34c26;
	font-weight: bold;
}
.page-con .vice-title{
    font-size: 12px;
    color: #999;
    font-family: \5fae\8f6f\96c5\9ed1;
}
.vice-title span{
    margin-left: 5px;
}
.page-con .note{
    color: #777;
}
.page-con .article-list{
    padding-bottom: 2px;
    border-bottom: 1px solid #d1d5da;
}
.all-article{
    border-bottom: 1px solid #d1d5da;
    padding: 0 0 10px;
}
.page-con .article-list a{
	color: #333; 
}
.page-con .archives-list{
	border: none;
	border-bottom: 1px solid #d1d5da;
	padding: 0;
}
.page-con .txt-muted{
    margin-top: 15px;
    text-align: right;
    color: #999;
    font-size: 12px;
    font-family: \5fae\8f6f\96c5\9ed1;
}
.txt-muted a{
    color: #999;
    margin-left: 15px;
}
/*分页*/
.paging{
	text-align: center;
}
.paging .paging-con{
	display: inline-block;
}
.paging a{
	float: left;
	padding: 6px 12px;
	font-size: 14px;
    color: #969696;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin: 0 5px;
}
.paging .current{
	border: none;
	pointer-events: none;
	font-weight: bold;
}

/*底部图片*/
.footer-img{
	margin-top: 12px;
}
.footer-img [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}
.footer-img [class*='col-'] > a{
    padding: 0;
    margin-bottom: 10px;
    border: none;
}
.footer-img a{
	position: relative;
}
.footer-img .portfolio{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(240, 95, 64, 0);
	text-align: center;
	color: #ffffff;
}
.portfolio-content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.project-category,.project-name{
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px;
}
.project-name{
	font-size: 22px;
	color: #fff;
}
.footer-img a:hover .portfolio{
	border-radius: 5px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	background: rgba(240, 95, 64, 0.8);
}
.footer-img a:hover .portfolio-content{ 
	display: block;
}
/* 底部 */
footer{
	width: 100%;
	background: #F7F7F7;
    padding: 12px 0 5px 0;
	margin-top: 12px;
}
footer li{
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}
footer p{
	color: #333;
}
.back-top{
	position: fixed;
	z-index: 8000;
	right: 30px;
	bottom: 120px;
	width: 48px;
	height: 48px;
	border-radius: 4px;
	background: rgba(84,84,84,0.5) url(../img/back-top.png) no-repeat center center;
} 
.back-top:hover{
	background-color: rgba(84,84,84,0.7)
}
.wechat-ico{
	position: relative;
	width: 30px;
	height: 30px;
	background: #eee;
	background: url(../img/wechat-ico.png) no-repeat;
}
.wechat{
	position: absolute;
	bottom: 35px;
	right: 0;
	width: 0;
	height: 0;
	background: #eee;
	background: url(../img/wechat.png) no-repeat;
	border-radius: 4px;
	border: 1px solid #eee;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.wechat-enter{
	width: 202px;
	height: 202px;
}
.wechat-enter:after{
	content: "";
	position: absolute;
	bottom: -7px;
	right: 7px;
	border-right: 7px solid transparent;
	border-top: 7px solid #f0f2f6;
	border-left: 7px solid transparent;
}
.wechat-leave{
	width: 0px;
	height: 0px;
}
.wechat-leave:after{
	border: none;
}
/* 文章页 */
.post-title{
	border-bottom: 1px solid #dcdcdc;
}
.post-con{
	padding: 20px;
}