---
layout: default
---
<main class="container page-con">
  <!-- 分类页 -->
  <div class="row">
    <div class="col-sm-2 home-con-nav">
      <div class="pside">
        <h3 class="tit">分类</h3>
        <ul class="list">
          {% for item in site.categories %}
            <li><a href="#{{item[0]}}" class="{{item[0]}}">{{item[0]}}<sup>{{ item[1] | size }}</sup></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-10 home-con-list">
      <p class="all-article"><a href="/">全部文章</a> <span class="categ_name">></span> <span class="categ_text"></span></p>

      <ul class="archives">
        {% for post in site.posts %}
        <li class="article-list article-list-{{post.categories}} article-list-{{post.tags}}">
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
          <p class="vice-title">Jason<span> 发表于</span> <span>{{ post.date | date: "%F" }}</span></p>
          <div class="note">{{ post.excerpt }}</div>
          <div class="txt-muted">
             <!-- <a href="{{ site.baseurl }}{{ post.url }}">评论<span>(16)</span></a> -->
          </div>
        </li>
        {% endfor %}
      </ul>
      
      <!-- 分页 -->
      <div>{{paginator.total_posts}}</div>
      {% if site.total_posts  > 1 %}
        <nav id="page-nav" class="paging clearfix{% if site.index.expand != true  %} unexpand{% endif %}">
          <div class="paging-con">
            {% if site.previous_page %}
            <a class="extend prev" rel="prev" href="{{ site.previous_page_path }}"><span></span>Prev</a>
            {% endif %}
            {% if site.page == 1 %}
            <a class="page-number current" href="javascript:;">1</a>
            {% else %}
            <a class="page-number" href="/">1</a>
            {% endif %}
            {% for i in (2..site.total_pages) %}
            <!-- 选中状态 -->
            {%if i == site.page %}
            <a class="page-number current" href="javascript:;">{{ i }}</a>
            {% else %}
            <a class="page-number" href="/page{{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
             {% if site.next_page %}
            <a class="extend next" rel="next" href="{{ site.next_page_path }}">Next<span></span></a>
            {% endif %}
          </div>
        </nav>
      {% endif %}
    </div>
  </div>
</main>



