---
layout: default
---
<div class="container home-con post">
  <div class="row">
    <div class="col-sm-2 home-con-nav">
      <div class="pside">
        <h3 class="tit">分类</h3>
        <ul class="list">
          {% for item in site.categories %}
            <li><a href="/#{{item[0]}}">{{item[0]}}<sup>{{ item[1] | size }}</sup></a></li>
          {% endfor %}
        </ul>
        <h3 class="tit">标签</h3>
        <ul class="list tags clearfix">
          {% for item in site.tags %}
            <li><a href="/#{{item[0]}}">{{item[0]}}<sup>{{ item[1] | size }}</sup></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-10 home-con-list">
      <div class="title">
        <h1>{{ page.title }}</h1>
        <div>
          <p class="vice-title">Jason<span> 发表于</span> <span>{{ page.date | date: "%F" }}</span></p>
        </div>
      </div>
      <div class="post-con">{{content}}</div>

      <!--PC版-->
      <!-- <div id="SOHUCS"></div>
      <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
      <script type="text/javascript">
        window.changyan.api.config({
        appid: 'cyu6GwRmO',
        conf: 'prod_ee7d87ead36c748f63b6de0ad8c244d1'
        });
      </script> -->

      <!--PC版畅言-->
      <div style="padding:30px 4%;"><div id="SOHUCS"></div></div>
      <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
      <script type="text/javascript">
        window.changyan.api.config({
          appid: 'cyrxFweDu',
          conf: 'f35d2bda11bb443c9a08c2bdc5d2bf08'
        });
      </script>

    </div>
  </div>
</div>
